.react-logo {
  width: 55.5625rem;
  position: absolute;
  right: 0;
  top: -12.8521rem;
  z-index: -1;
  height: 49.25rem;
}

.section-container {
  padding: var(--kendo-spacing-8);
  margin: 0 auto;
}

.center-section,
.cards {
  margin: 0 auto;
  max-width: 72.125rem;
}

.center-section .section-title {
  margin: var(--kendo-spacing-2);
}

.section-container.get-started {
  margin: 0 auto;
  text-align: left;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
}

.section-container.get-started code {
  padding: 0 0.25rem;
}

.welcome-title,
.welcome-subtitle {
  margin: 0;
  font-weight: 300;
}

.welcome-title {
  font-size: 5.25rem;
  line-height: 6.25rem;
}

.welcome-subtitle {
  font-size: 2.625rem;
  line-height: 3.125rem;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.625rem;
  margin: 0;
}

.cards .section-title {
  text-align: left;
  margin-left: var(--kendo-spacing-6);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.k-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--kendo-spacing-0, 0rem);
  align-items: center;
  margin: var(--kendo-spacing-6);
  padding: var(--kendo-spacing-0, 0rem);
  height: 19.375rem;
  width: 15rem;
  box-shadow: 0rem .125rem .1875rem 0rem rgba(0, 0, 0, 0.04), 0rem .25rem 1rem 0rem rgba(0, 0, 0, 0.12);
}

.k-card-header {
  border: none;
}

.k-card-body {
  text-align: left;
}

.card-list {
  padding: var(--kendo-spacing-0, 0rem);
  margin: 0;
  list-style-type: disc;
  text-align: left;
}

@media (max-width: 56.25rem) {
  .section-container .welcome-title {
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (max-width: 30rem) {
  .section-container .welcome-title {
    text-align: center;
    font-size: 3.625rem;
    line-height: 4rem;
  }

  .section-container .welcome-subtitle {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
