.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

footer {
  bottom: 0;
  margin-top: 2rem;
  padding: 4rem 2rem;
  width: 100%;
  border-top: .625rem solid;
  border-color: $green;
  font-size: .875rem;
}

main {
  overflow: scroll !important;
  flex: 1;
}
