.root-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.header-container {
  height: 4rem;
  border-bottom: seagreen solid .25rem;
  margin-bottom: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

footer {
  bottom: 0;
  margin-top: 1rem;
  padding: 2rem 2rem;
  width: 100%;
  border-top: .25rem solid;
  border-color: var(--green);
  font-size: .875rem;
}

main {
  overflow: scroll !important;
  flex: 1;
}
