@use "@progress/kendo-theme-default/scss/all.scss" as *;

footer {
  bottom: 0;
  padding: k-spacing(4) k-spacing(2);
  width: 100%;
  border: .0625rem solid;
  border-color: k-color(border);
  font-size: .875rem;
}
