# This workflow will do a clean installation of node dependencies,
# cache/restore them, build the source code 

name: React.JS / Vite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        working-directory: ./daredevil_frontend 
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: run tests
      working-directory: ./daredevil_frontend 
      run: |
        npm run test

